<div class="container">
  <div class="pic">
    <img
      src="https://images.pexels.com/photos/2228557/pexels-photo-2228557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    />

    <div class="text">
      <h3>Welcome Back</h3>
      <p>login to find your perfect book</p>
    </div>
  </div>

  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <h3>Log in</h3>
      <div>
        <label for="email">Email:</label><br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="johndoe@mail.com"
          formControlName="email"
        />
        <div class="error" *ngIf="fc['email'].errors && isSubmitted">
          <small *ngIf="fc['email'].errors['required']"
            >Email should not be empty</small
          >
          <small *ngIf="fc['email'].errors['email']">Email is not valid</small>
        </div>
      </div>
      <div>
        <label for="password">Password:</label><br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="●●●●●●●●"
          formControlName="password"
        />
        <div class="error" *ngIf="fc['password'].errors && isSubmitted">
          <small *ngIf="fc['password'].errors['required']"
            >Password should not be empty</small
          >
        </div>
      </div>
      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
  </div>
</div>
