<div class="container">
  <div class="pic">
    <img
      src="https://images.pexels.com/photos/2228557/pexels-photo-2228557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    />

    <div class="text">
      <h3>Welcome Back</h3>
      <p>login to find your perfect book</p>
    </div>
  </div>

  <div class="form">
    <form action="">
      <h3>Log in</h3>
      <div>
        <label for="email">Email:</label><br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="johndoe@mail.com"
        />
      </div>
      <div>
        <label for="password">Password:</label><br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="●●●●●●●●"
        />
      </div>
      <div>
        <button>
            Log in
        </button>
      </div>
    </form>
  </div>
</div>
