@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&display=swap');



.container {
  /* border: 1px solid red; */
  width: 100%;
}

.card {
  /* border: 1px solid red; */
  background: white;
  width: 50%;
  margin: auto;
  margin-top: 5vw;
  padding: 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  /* border: 1px solid red; */
  width: 40%;
}
.img > img {
  width: 100%;
}

.info {
  /* border: 1px solid red; */
  width: 60%;
  height: 100%;
  padding: 1vw;
}

/* .info {
  width: 40vw;
} */
.info > p {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.price {
  /* border: 1px solid red; */
  margin: 10% 0;
  font-family: 'Noto Serif HK', serif;

  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.info > span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2vw;
}
button {
  border: none;
  outline: none;
  /* width: 60%; */
  width: 100%;
  font-size: 1.2vw;
  background-color: black;
  color: whitesmoke;
  padding: 0.5vw;
  transition: 0.5s;
}
button:hover {
  background: red;
  cursor: pointer;
}
