.container {
  /* border: 1px solid red; */
  padding: 1vw;
}

.container > button {
  border: none;
  color: white;
  background: black;
  padding: 1vw;
  font-size: 1.6vw;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 2vw;
  float: right;
}
.container > button:hover {
  background: red;
  cursor: pointer;
}

table {
  /* border: 1px solid red; */
  width: 98vw;
  margin: auto;
  text-align: left;
}

table,
th,
td {
  /* border: 1px solid red; */
  border-collapse: collapse;
  padding: 1vw;
}

thead > tr {
  border-bottom: 0.1vw solid grey;
  background-color: lightgrey;
}
tbody > tr {
  border-bottom: 0.1vw solid grey;
}
tbody>tr:hover{
  background: white;
}
th {
  font-size: 1.4vw;
}

td {
  /* border: 1px solid red; */
  font-size: 1.2vw;
}
td > a {
  /* border: 1px solid red; */
  font-size: 1.2vw;
  padding: 0.5vw;
  margin: 0.5vw;
}
td>a:hover{
  cursor: pointer;
  background: lightgrey;
}

.fa-file-pen {
  color: #0d6efd;
}
.fa-trash-can {
  color: #dc3545;
}
